.testimonial__icon {
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
}
.toLeftTestimonials {
    transform: translateX(-100vw);
    transition: all 0.2s ease-in-out;
}
.toRightTestimonials {
    transform: translateX(100vw);
    transition: all 0.2s ease-in-out;
}
.pos_absolute_left {
    position: absolute;
    left: 0;
}
.pos_absolute {
    position: absolute;
}
.pos_absolute_right {
    position: absolute;
    right: 0;
}
.testimonials__container {
    column-gap: 29px;
    width: 1160px; //обязательные условия для слайдера
    overflow: hidden; //обязательные условия для слайдера
}
.testimonial_card {
    position: relative;
    min-width: 268px; //обязательные условия для слайдера
    right: 0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
​ input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}
input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}
@media (max-width: 1599px) {
    .testimonials__container {
        column-gap: 29px;
        width: 940px; //обязательные условия для слайдера
        overflow: hidden; //обязательные условия для слайдера
    }

    .testimonial_card {
        position: relative;
        min-width: 293px; //обязательные условия для слайдера
        right: 0;
        top: 0;
    }
}
@media (max-width: 999px) {
    .testimonials__container {
        column-gap: 29px;
        height: 357px;
        width: 600px; //обязательные условия для слайдера
        overflow: hidden; //обязательные условия для слайдера
    }

    .testimonial_card {
        position: relative;
        min-width: 293px; //обязательные условия для слайдера
        right: 0;
        min-height: 109px; ///обязательные условия высоты
    }
}
@media (max-width: 639px) {
    .testimonials__container {
        column-gap: 29px;
        height: 357px;
        width: 299px; //обязательные условия для слайдера
        overflow: hidden; //обязательные условия для слайдера
    }

    .testimonial_card {
        position: relative;
        min-width: 299px; //обязательные условия для слайдера
        right: 0;
        min-height: 109px; ///обязательные условия высоты
    }
}
