.footer {

    position: relative;
    background: #111115;
}
.footer__wrapper {
    position: relative;
    padding: 41px 220px 50px 220px;
    height: 443px;
}
.social {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.social__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
    &:hover {
        color: #4b9200;
        .icon_bg_gray {
            background-color: #4b9200;
        }
    }
}
.icon_bg_gray {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.links {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    & > a:first-child {
        margin-left: auto;
    }
}
.footer__nav {
    display: flex;
    // position: absolute;
    // margin: 0 auto;
    margin-left: 285px;
    column-gap: 50px;
}
.designed {
    text-decoration: none;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: "Roboto-100";
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */

    color: #ffffff;
    &:active {
        position: relative;
        top: 2px;
        color: #4b9200;
        padding-bottom: 1px;
        border-bottom: 1px solid #4b9200;
    }
}
.subscribe {
    position: absolute;
    top: 40px;
    right: 220px;
}
.subscribe__title {
    //styleName: subtitle;
    font-family: Roboto-400;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 14px;
}
.subscribe__form {
    display: flex;
    column-gap: 10px;
    &:valid .subscribe__submit {
        border: 1px solid #4b9200;
        color: #4b9200;
    }
    &:invalid .subscribe__submit {
        border: 1px solid #d31414;
        color: #d31414;
    }
}
.subscribe__email {
    &:required {
        border: 0.7px solid #4b9200;
        border-radius: 2px;
        background-color: #111115;
    }
    &:default {
        border: 0.7px solid yellowgreen;
        border-radius: 2px;
        background-color: yellowgreen;
    }
    &:invalid {
        border: 0.7px solid #d31414;
        border-radius: 2px;
        background-color: #111115;
    }
    &:-moz-submit-invalid {
        border: 0.7px solid #d31414;
        border-radius: 2px;
        background-color: #111115;
    }
    &:-moz-ui-invalid {
        border: 0.7px solid #d31414;
        border-radius: 2px;
        background-color: #111115;
    }
    position: relative;
    z-index: 1;
    padding: 10px 7px 10px 10px;
    font-family: "Roboto-400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    background: #111115;
    color: #bdbdbd;
    height: 42px;
    width: 228px;
}

.subscribe__submit {
    //todo correct styles

    &:default {
        cursor: pointer;
        padding: 9px 38.5px;
        background: #f1f3f2;
        border: 1px solid #4b9200;
        border-radius: 5px;
        font-family: "Roboto-400";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #4b9200;
    }
}
.footer__btn {
    margin-top: 68px;
    margin-bottom: 44px;
}
@media (max-width: 1599px) {
    .footer__wrapper {
        position: relative;
        padding: 40px 18px 50px 43px;
        height: 443px;
    }
    .footer__nav {
        column-gap: 40px;
        margin-left: 176px;
    }
    .subscribe {
        top: 40px;
        right: 50px;
    }
}
@media (max-width: 999px) {
    .footer__wrapper {
        position: relative;
        padding: 12px 20px 12px 20px;
        height: auto;
    }
    .footer__btn {
        margin-top: 33.5px;
        margin-bottom: 68px;
    }
    .footer__nav {
        margin-left: 0;
        column-gap: 30px;
        position: relative;
        left: -3px;
    }
    .subscribe {
        display: none;
    }
}
@media (max-width: 639px) {
    .footer__wrapper {
        padding: 20px 13px 20px 9px;
        // padding: 6.25vw 4.0625vw 6.25vw 2.8125vw;
    }
    .footer__btn {
        margin-top:87px;
        margin-bottom: 30px;
    }
    .logo{
        height: auto;
    }
    .footer__nav {
        column-gap: 22px;
        top: 1px;
        left: 1px;
    }
}
