.feed__wrapper {

    background: linear-gradient(
            315.75deg,
            rgba(254, 210, 144, 0.7) 30.06%,
            #febdab 100.95%,
            rgba(254, 210, 144, 0.7) 106.36%
        ),
        linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
        ),
        linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
        );
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 70px 220px 98.5px 220px;
}
.feed__content {
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    padding: 41px 58px 59px 99px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.feed__text {
    font-family: Roboto-400;
    letter-spacing: 0em;
    text-align: left;
}
.feed__title {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0em;
    text-align: center;
    color: #fe9013;
    margin-bottom: 30px;
    position: relative;
    left: -19px;
}
.feed__subtitle {
    font-size: 24px;
    line-height: 29px;
}
.covid {
    font-family: Roboto-500;
    font-size: 16px;
    line-height: 21px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.feed__text_last {
    margin-right: 130px;
    font-size: 16px;
    line-height: 21px;
}
.algoritm {
    align-self: center;
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 60px;
}
.algoritm__arrow_radius {
    display: none;
}
.algoritm__card {
    position: relative;
    width: 168px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.algoritm__card__arrow {
    position: relative;
    top: -45px;
    margin-right: 30px;
    margin-left: 30px;
    align-self: center;
}
.algoritm__title {
    //styleName: h3;
    font-size: 36px;
    line-height: 47px;
    margin-top: 60px;
    text-align: center;
}
.img__bg_orange {
    height: 168px;
    width: 168px;
    background: linear-gradient(#f9804b, #fe9013);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.img__bg_white {
    position: absolute;
    height: 166px;
    width: 166px;
    border-radius: 5px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.algoritm__card_text {
    font-size: 16px;
    line-height: 22px;
}
.feed_btn {
    z-index: 980;
    align-self: center;
}
.algoritm__title,
.algoritm,
.feed_btn {
    z-index: 980;
    position: relative;
    left: -21px;
}
@media (max-width: 1599px) {
    .feed__wrapper {
        padding-top: 30px;
        padding-bottom: 50px;
        padding: 30px 30px 50px 30px;
    }
    .feed__content {
        height: 796px;
        padding: 30px 48px 50px 49px;
    }
    .feed__title {
        left: 0px;
        margin-bottom: 20px;
    }
    .covid {
        font-family: Roboto-500;
        font-size: 16px;
        line-height: 21px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 30px;
    }
    .algoritm {
        margin-bottom: 72px;
    }
    .algoritm__title {
        margin-top: 40px;
    }
    .algoritm__title,
    .algoritm,
    .feed_btn {
        left: -1px;
    }
    .feed__text_last {
        margin-right: 38px;
    }
}

@media (max-width: 999px) {
    .feed__wrapper {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .feed__content {
        height: auto;
        padding: 10px 20px 60px 20px;
    }
    .feed__title {
        font-size: 42px;
        line-height: 120%;
    }
    .feed__subtitle {
        font-size: 22px;
        line-height: 120%;
    }
    .covid {
        font-size: 16px;
        line-height: 130%;
        margin-right: 0;
    }
    .feed__text_last {
        margin-right: 0;
    }
    .algoritm {
        margin-top: 20px;
        margin-bottom: 42px;
        column-gap: 42px;
        left: -6px;
    }
    .algoritm__arrow_radius {
        display: block;
        position: absolute;
        right: -58px;
        top: -16px;
        z-index: 50;
    }
    .algoritm__title {
        margin-top: 28px;
    }

    .algoritm__card__arrow {
        display: none;
    }
}
@media (max-width: 639px) {
    .feed__wrapper {
        padding: 20px 11px 20px 10px;
    }
    .feed__content {
        padding: 20px 0 40px 0;
    }
    .feed__title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .feed__subtitle {
        position: relative;
        left: -1px;
        top: 1px;
        font-size: 18px;
        text-align: center;
    }
    .algoritm {
        flex-direction: column;
        row-gap: 42px;
        margin-bottom: 25px;
        left: 0;
        top: -1px;
    }
    .algoritm__arrow_radius {
        bottom: -20px;
        top: auto;
    }
    .algoritm__card:nth-child(1) {
        .algoritm__arrow_radius {
            rotate: (85deg);
            bottom: -20px;
            right: -61px;
            top: auto;
        }
    }
    .algoritm__card:nth-child(3) {
        .algoritm__arrow_radius {
            right: -61px;
            rotate: (86.06deg);
            bottom: -6px;
            top: auto;
        }
    }
    .algoritm__card:last-child {
        position: relative;
        top: -13px;
    }

    .algoritm__title {
        font-size: 24px;
        line-height: 120%;
        margin-top: 22px;
        position: relative;
        left: 1px;
    }
    .algoritm__card {
        row-gap: 10px;
    }
    .covid {
        display: none;
    }
    .feed__text_last {
        display: none;
    }
    .feed_btn {
        padding-left: 3px;
    }
}
